/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
 
.cookie-pop {
    background-color: #474747; border-top: 1px solid #333; color: #fff; left: 0;
    position: fixed; text-align: center; bottom: 0; width: 100%; z-index: 10;
}

.cookie-pop button { margin: 5px; background-color: #333; border: 0; padding: 2px 5px; color: #FFF; }

.l-box { padding: 15px; }

.dezo-one-news .dezo-content-news { 
    border: 1px solid #AAA;
}

.dezo-one-news .dezo-content-news h3 {
    font-size: 1.2em;
    margin: 10px 0;
    padding: 0 15px;
}

.dezo-one-news .dezo-content-news p {
    padding: 0 15px;
}

.dezo-one-news .dezo-img-placeholder {
    width: 345px;
    max-width: 100%;
    height: 140px;
    background-color: #AAA;
}