/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
 
.dezo-tools-wrap h1.nav-tab-wrapper, .dezo-tools-wrap h2.nav-tab-wrapper, .dezo-tools-wrap h3.nav-tab-wrapper { padding-bottom: 0!important; }

.dezo-tools-wrap .dezo-label { width: 20%; display: inline-block; }
.dezo-tools-wrap fieldset label { width: 100%; display: block; }
